<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
    <h1 class="h-bloc">Resume - Personal Info</h1>

    <div class="row">

        <!-- .resume-right -->
        <div class="col-md-6">



            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Programming Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="90%">
                    <div class="skillbar-title"><span>Python Django</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <!-- /.skillbar -->
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="85%">
                    <div class="skillbar-title"><span>Python Flask</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!-- /.skillbar -->
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="70%">
                    <div class="skillbar-title"><span>DATA SCIENCE </span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">70%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="85%">
                    <div class="skillbar-title"><span>React JS</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="85%">
                    <div class="skillbar-title"><span>Solidity</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!-- /.skillbar -->
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="89%">
                    <div class="skillbar-title"><span>NODEJS</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!-- /.skillbar -->
            </div>

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Network skills</div>
                <div class="clear"></div>
            </div>
            <div class="skills">

                <div class="skillbar clearfix" data-percent="90%">
                    <div class="skillbar-title"><span>Architecture: LAN,
                            WAN</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <div class="skillbar clearfix" data-percent="85%">
                    <div class="skillbar-title"><span>Datacom: LSW, FIREWALL,
                            ROUTER</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <div class="skillbar clearfix" data-percent="85%">
                    <div class="skillbar-title"><span>Protocol: TCP/IP, DHCP,
                            FTP ..
                        </span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>

            </div>
            <!-- /.title_content -->
            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Core Network skills</div>
                <div class="clear"></div>
            </div>
            <div class="skills">

                <div class="skillbar clearfix" data-percent="90%">
                    <div class="skillbar-title"><span>CS equipment: MSC, MGW
                        </span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <div class="skillbar clearfix" data-percent="90%">
                    <div class="skillbar-title"><span>PS equipment: USN,
                            UGW</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>

            </div>

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Designs skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="95%">
                    <div class="skillbar-title"><span>Photoshop</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">95%</div>
                </div>

                <div class="skillbar clearfix" data-percent="50%">
                    <div class="skillbar-title"><span>Adode Premier</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">50%</div>
                </div>

                <!-- /.skillbar -->

                <!-- .skillbar -->
                <!-- <div class="skillbar clearfix" data-percent="90%">
                    <div class="skillbar-title"><span>Illustrateur</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                
                <div class="skillbar clearfix" data-percent="65%">
                    <div class="skillbar-title"><span>Indesign</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">65%</div>
                </div>
                
                <div class="skillbar clearfix" data-percent="35%">
                    <div class="skillbar-title"><span>Flash</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">35%</div>
                </div> -->
                <!-- /.skillbar -->
            </div>


            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Office Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="85%">
                    <div class="skillbar-title"><span>MS Excel</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="95%">
                    <div class="skillbar-title"><span>MS Word</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">95%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="90%">
                    <div class="skillbar-title"><span>Powerpoint</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <!-- /.skillbar -->

            </div>


            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Hobbies Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="70%">
                    <div class="skillbar-title"><span>Music</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">70%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="85%">
                    <div class="skillbar-title"><span>Sport</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="85%">
                    <div class="skillbar-title"><span>Reading</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="90%">
                    <div class="skillbar-title"><span>Travelling</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <!-- /.skillbar -->
            </div>


            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Language Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="85%">
                    <div class="skillbar-title"><span>English</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="90%">
                    <div class="skillbar-title"><span>French</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <!-- /.skillbar -->


            </div>
            <div class="title_content" style="float: none;">
                <div class="text_content">Soft Skills</div>
                <div class="clear"></div>
            </div>
            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="85%">
                    <div class="skillbar-title"><span>Project Management</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="90%">
                    <div class="skillbar-title"><span>Public Speaking</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <!-- /.skillbar -->
                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="90%">
                    <div class="skillbar-title"><span>Leadership</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <!-- /.skillbar -->


            </div>


            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">My Resume</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .download_resume -->
            <a class="download" style="margin:0;float: left;" href="#">
                <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download
                    My Resume</span>
            </a>
            <!-- /.download_resume -->

        </div>
        <!-- /.resume-right -->



        <!-- .resume-left -->
        <div class="col-md-6 resume-left">
            <!-- .title_content -->
            <div class="title_content" style="margin-bottom:5px">
                <div class="text_content">Experience</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .attributes -->
            <ul class="attributes">
                <li class="first">
                    <h5>Full stack Developer <span class="duration"><i class="fa fa-calendar color"></i> 2020 -
                            2022</span></h5>
                    <h6><span class="fa fa-briefcase"></span> DIRIS - France
                    </h6>
                    <p>
                        Trading bot platform - yexo project
                    </p>
                    <p>
                        With AI implementation
                    </p>
                    <p>
                        Web made with python framework & ReactJS & PGSql
                        database
                    </p>
                </li>
                <li class="first">
                    <h5>Data scientist <span class="duration"><i class="fa fa-calendar color"></i> 2020 -
                            2022</span></h5>
                    <h6><span class="fa fa-briefcase"></span> DIRIS - France
                    </h6>
                    <p>
                        Trading bot platform - yexo project
                    </p>
                    <p>
                        Cryptocurrency prediction BTC and ETH
                    </p>

                </li>
                <li class="first">
                    <h5>Solidity Developer <span class="duration"><i class="fa fa-calendar color"></i> 2022 -
                            2022</span></h5>
                    <h6><span class="fa fa-briefcase"></span> DIRIS - France
                    </h6>
                    <p>
                        'la platforme de la NFT' project
                    </p>
                    <p>
                        Assist team for creating contract.
                    </p>

                </li>
                <li>
                    <h5>Python Developer <span class="duration"><i class="fa fa-calendar color"></i> 2022 -
                            now</span></h5>
                    <h6><span class="fa fa-briefcase"></span> DIRIS - France
                    </h6>
                    <p>
                        Metavatar Project
                    </p>
                    <p>
                        Building avatar 3D by using kinect point cloud
                    </p>
                </li>
                <li>
                    <h5>IT consultant <span class="duration"><i class="fa fa-calendar color"></i> 2018 -
                            2019</span></h5>
                    <h6><span class="fa fa-briefcase"></span> Freelance
                    </h6>
                    <p>
                        website wordpress Developer.
                        IT Maintenance.
                    </p>

                </li>
                <li>
                    <h5>Core Network Engineer <span class="duration"><i class="fa fa-calendar color"></i> 2017 -
                            2017</span></h5>
                    <h6><span class="fa fa-briefcase"></span> Huawei
                        Technologies Madagascar
                    </h6>
                    <p>
                        Onsite support for voice and data core network equipment
                        at Orange
                        Madagascar, Telma Madagascar
                    </p>

                </li>
                <li>
                    <h5>Core Network Engineer <span class="duration"><i class="fa fa-calendar color"></i> 2014 -
                            2017</span></h5>
                    <h6><span class="fa fa-briefcase"></span> Huawei
                        Technologies Madagascar
                    </h6>
                    <p>
                        Onsite support for voice and data core network equipment
                        at comoros Telecom
                    </p>

                </li>
                <li>
                    <h5>Core Network Engineer <span class="duration"><i class="fa fa-calendar color"></i> 2013 -
                            2014</span></h5>
                    <h6><span class="fa fa-briefcase"></span> Huawei
                        Technologies Madagascar
                    </h6>
                    <p>
                        IPDSLAM project - Telma Madagascar
                    </p>

                    <p>
                        LTE project - Gulfsat Madagascar
                    </p>
                    <p>
                        DATA CENTER project - Airtel Madagascar
                    </p>
                </li>
                <li>
                    <h5>NTIC manager <span class="duration"><i class="fa fa-calendar color"></i> 2011 -
                            2013</span></h5>
                    <h6><span class="fa fa-briefcase"></span> UGBM - Madagascar
                    </h6>
                    <p>
                        Team management
                    </p>
                </li>

            </ul>
            <!-- /.attributes -->
            <br>

            <!-- .title_content -->
            <div class="title_content">
                <div class="text_content">Education</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .attributes -->
            <ul class="attributes">
                <li class="first">
                    <h5>Project certification <span class="duration"><i class="fa fa-calendar color"></i> 2019 -
                            2019</span></h5>
                    <h6><span class="fa fa-book"></span> ACOR consulting</h6>
                    <p>
                        Planification, Suivi et Evaluation du projet (selon GAR)
                    </p>
                </li>
                <li>
                    <h5>Bachelor of Engineering <span class="duration"><i class="fa fa-calendar color"></i> 2006 -
                            2012</span></h5>
                    <h6><span class="fa fa-book"></span> Ecole Supérieur
                        Polytechnique d’Antananarivo, Madagascar (ESPA).</h6>
                    <p>Ingénieur en Electronique option Informatique Appliquée
                    </p>

                </li>
                <li>
                    <h5>High school diploma<span class="duration"><i class="fa fa-calendar color"></i> 2005 -
                            2002</span></h5>
                    <h6><span class="fa fa-book"></span> Lycée Technique et
                        professionnel Mahajanga, Madagascar</h6>
                    <p>Baccalauréat Technologie Génie Industriel
                    </p>

                </li>
            </ul>
            <!-- /.attributes -->
            <br>


            <!-- .title_content -->
            <!-- <div class="title_content">
                <div class="text_content">Awards</div>
                <div class="clear"></div>
            </div>
            
            <ul class="attributes">
                <li class="first">
                    <h5>Graphic &amp; Art Direction <span class="duration"><i
                                class="fa fa-calendar color"></i> 2013 -
                            2014</span></h5>
                    <h6><span class="fa fa-trophy"></span> Name of Institute
                    </h6>
                    <p>Emi Phasellus congue auctor risuspon, eget males.
                        Pellentes que un imperdiet, odio quis orn sollicitud.
                        Sed vitae lectus elementum mauris.</p>
                </li>
                <li>
                    <h5>Design &amp; Art Direction <span class="duration"><i
                                class="fa fa-calendar color"></i> 2012 -
                            2013</span></h5>
                    <h6><span class="fa fa-trophy"></span> Name of Institute
                    </h6>
                    <p>Emi Phasellus congue auctor risuspon, eget males.
                        Pellentes que un imperdiet, odio quis orn sollicitud.
                        Sed vitae lectus elementum mauris.</p>
                </li>

            </ul> -->
            <!-- /.attributes -->
            <br>

        </div>
        <!-- /.resume-left -->
    </div>

    <div style="clear: both"></div>


    <!-- client reference -->
    <!-- <div class="row">
        <div class="col-md-12">

            <div class="reference clearfix">

           
                <div class="title_content" style="margin-bottom:5px">
                    <div class="text_content">Client reference</div>
                    <div class="clear"></div>
                </div>
             


                <ul>
                    <li class="clearfix">
                        <img src="http://placehold.it/100x100"
                            class="img_reference" width="100" height="100"
                            alt="">
                        <p>“Many desktop publishing packages and web page
                            editors now use Lorem Ipsum as their default will
                            model text, and a search for 'lorem ipsum' hope is
                            uncover many web sites still”</p>
                        <span>John Doe, UX Designer</span>
                    </li>
                    <li class="clearfix">
                        <img src="http://placehold.it/100x100"
                            class="img_reference" width="100" height="100"
                            alt="">
                        <p>“very nice colleague she always helped me out if i
                            didnt know something editors now use Lorem Ipsum as
                            their default”</p>
                        <span>Leia Calvi, UX Designer</span>
                    </li>
                    <li class="clearfix">
                        <img src="http://placehold.it/100x100"
                            class="img_reference" width="100" height="100"
                            alt="">
                        <p>“old colleague and now close friend, she is really
                            sweet and helpfull packages and web page editors now
                            use Lorem Ipsum as their default will model text”
                        </p>
                        <span>Maria Callas, UX Designer</span>
                    </li>
                </ul>
            </div>
        </div>


        <div style="clear: both"></div>
    </div> -->

</div>
<!-- End .resume -->